*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .fix-width{
    width: 1920px;
 }
/* header */

header{
    background-color: aqua;
    padding: 25px;
    height: 80px;
}

.container{
    background-color: rgb(255, 183, 0);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 40px;
}

.logo-left, .link-center, .logo-right{
    align-content: center;
    text-align: center;
    
} 

.logo-left{
    width: 25%;
    text-align: left;
    padding-left: 10px;
}

.link-center{
   width: 50%;
   text-align: center;
}

.logo-right{
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

/* header end */

.border{
    border-style: dashed;
    border-color: black;
    border-width: thin;
}

.white-border{
    border-style: dashed;
    border-color: rgb(255, 255, 255);
    border-width: thin;
}

/* main */

/* first section */

.container-blue{
    background-color: blue;
    height: 500px;
    align-content: center;
}

.pink-square{
    background-color: rgb(251, 130, 170);
    max-width: 908px;
    margin: 0 auto;
    display: flex;
    height: 398px;
    
    
}

/* first section end */

/* 2nd section */

.container-white{
    background-color: white;
}

.twosquares{
    
    height: 600px;
    align-content: center;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left-col-cyan{
    background-color: aqua;
    width: 70%;
    height: 496px;
}

.right-col-pink{
    background-color: pink;
    height: 496px;
    width: 30%;
}

.container-grey{
    background-color: lightgrey;
}

.larger-height{
    max-height: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.green-square{
    background-color: green;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 900px;
}

/* 3rd section */


.container-dark-grey{
    background-color: rgb(63, 63, 63);
    height: auto;
    padding-top: 15px;
    padding-bottom: 25px;

}

.container-squares{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    height: max-content;
}
.square-small-pink{
    background-color: pink;
    height: 630px;
    width: 40%;
}

.square-small-blue{
    background-color: rgb(117, 140, 255);
    height: 630px;
    width: 20%;
}

/* Main End */

/* Footer */

.container-footer{
    display: flex;
    justify-content: center;
    margin: 1px 0px;
    height: 105px;
    background-color: rgb(63, 63, 63);
    flex-wrap: wrap-reverse;
}

.square-footer{
    background-color: aqua;
    display: flex;
    width: 1200px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.logo-footer, .bottone-footer{
    width: 70px; 
    height: 35px;
    background-color: pink;
    text-align: center;
    padding: 8px;
   
}


